body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fff;
}

.form {
  max-width: 300px;
  padding: 15px;
  margin: 0 auto;
}
.wrapper{
  max-width: 680px;
  margin: 0 auto;
  position: relative;
}

header {
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.702941);
	z-index: 9998;
	position: fixed;
	top: 0px;
	left: 0;
	right: 0;
	border-bottom: solid 1px #ccc;
}
	header	.logo {
		float: left;
		display: block;
		height: 50px;
		
		> img {
			height: 50px;
		}
	}


header .mainmenu {
		text-align: right;
		font-size: 1.1em;
}

		header .mainmenu menu {
			padding: 0;
			margin: 0;
		}
			
			header .mainmenu menu  > li {
				height: 100%;
				display: inline-block;
			}
				
				header .mainmenu menu  > li > a, header .mainmenu menu  > li > span {
					display: block;
					padding: 15px 10px;
					color: #000;
				}

					header .mainmenu menu  > li > a.active {
						font-weight: bold;
					}
		